a:link, a:visited, a:hover, a:active {
  color:rgb(255, 255, 255);
  font-size:1em;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-family:  'Times New Roman', Times, serif;
  font-size: 24Pt ;
  font-style: normal;
}

.header {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  background-color: #837e7e;
  border: 1px solid #000000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
  font-family:  'Times New Roman', Times, serif;
  font-size: 14pt ;
  font-style: normal;
}
#logout {
  background-color:white;
  float: right;
  width:90px;
  height:90px;
}
#header {
  	background-color: #000;
	width:95%;
	float: left;
}
.central-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid #000000;
}

.central-col {
  flex: 1 29%;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #515050;

}
.contenido {
  flex: 1 69%;
  box-sizing: border-box;
  height: 100%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;

}

.footer {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  background-color: #f5f5f5;
  font-family:  'ROBOTO';
  font-size: 14pt ;
  font-style: normal;
  border: 1px solid #000000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}